body {
    font-family: 'Ubuntu', serif;
    font-size: 15px;
  }

.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color: #5E4485;
    color:#fff;
    padding: 1% 0;
    font-size: 1.2em;
    border:0;
}

.navbar-brand{
    float: left;
    min-height: 55px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
    color: #fff;
    background-color: #5E4485;
}

.navbar-inverse .navbar-nav li a{
    color: #D5D5D5;
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
}

.cform{
    width: 50%;
    margin: auto;
}


#showcase{
    background-image: url("/static/blog/images/helen0.jpg");
    min-height: 400px;
    text-align: center;
    color: #5E4485;
}

#ashowcase{
    background-image: url("/static/blog/images/helen0.jpg");
    min-height: 400px;
    text-align: center;
    color: #5E4485;
}

#cshowcase{
    background-image: url("/static/blog/images/helen0.jpg");
    min-height: 400px;
    text-align: center;
    color: #5E4485;
}



.btn{
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    background-color: #5E4485;
    border: 2px solid #fff;
}

.btn2{
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    background-color: #5E4485;
    border: 2px solid #fff;
    margin-bottom: 10px;
    border-radius:10px;
}

.container{
    margin: 1% auto;
}

.about{
    width: 70%;
    margin: auto;
    padding: 20px;
}


.comment {
    margin-left: 10%;
    margin-right: 10%;
}

.comment p{
    margin-left: 3%;
}

#recent{
    margin: 0 0 0 0;
}


#btn1{
    margin-left: 20px;
}

#icon{
    max-width: 200px;
    margin: 1% auto;
}


footer{
    width: 100%;
    background-color: #5E4485;
    padding: 2%;
    color: #fff;   
}
.fa{
    padding: 20px;
    font-size: 30px;
    color:#fff;
}

.fa:hover{
    color: #5E4485;
}

.work{
    width: 35%;
    margin: auto;
    text-align: center;
}

.work a:hover{
    text-decoration: none;
    color: #5E4485;
}

.myforms{
    width: 50%;
    margin: auto;
    padding: 20px;
}

.myforms h3{
     text-align: center;
     color: #5E4485;
}

.tryit{
    margin-left: 10%;
    margin-right: 10%;
}

.work a{
    color: #5E4485;
}

.blogpost a:hover{
    text-decoration: none;
}

.blogpost a{
    text-decoration: none;
    
}

#myblog {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 200px;
}



@media (max-width:600px){
    .carousel-caption{
        display:none;
    }

    #icon{
        max-width: 150px;
    }
}