{% extends 'base_generic.html' %}


{% block content %}
{% load static %}
<link rel='stylesheet' href='{% static "blog/css/styles.css" %}'>

    <div class='text-center'>
        <h2 style="font-family: 'Tangerine', serif; font-size: 58px; color:#5E4485;">About me</h2>
        <img src="{% static 'blog/images/amichi.jpg' %}" height="200px" width="200px">
    </div>
    
    <div class='about'>
        <p style="font-family: 'Ubuntu', serif; font-size: 30px; color:#5E4485;">I am Helen Amichi Odoma, i write about every story daily living affords me. </p>
        <p style="font-family: 'Ubuntu', serif; font-size: 30px; color:#5E4485;">A journal of my life's experiences, the beauty and challenges of living in Africa. My story through my own eyes. something to make you live btter, something to sustain your smile.</p>
    </div>

{% endblock %}